{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Dashboard</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Obat</h5>
                    <p class="card-text fs-4">{{ medicine_count }}</p>
                    <a href="{% url 'medicine_list' %}" class="btn btn-primary">Lihat Detail</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Kategori</h5>
                    <p class="card-text fs-4">{{ category_count }}</p>
                    <a href="{% url 'category_list' %}" class="btn btn-primary">Lihat Detail</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Pembelian</h5>
                    <p class="card-text fs-4">{{ purchase_count }}</p>
                    <a href="{% url 'purchase_list' %}" class="btn btn-primary">Lihat Detail</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Penjualan</h5>
                    <p class="card-text fs-4">{{ sale_count }}</p>
                    <a href="{% url 'sale_list' %}" class="btn btn-primary">Lihat Detail</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Total Pasien</h5>
                    <p class="card-text fs-4">{{ patient_count }}</p>
                    <a href="{% url 'patient_list' %}" class="btn btn-primary">Lihat Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}